body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.main-content {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #ffffff;
}

.separator-bar {
  height: 12px;
  background-color: #ff00ff;
  margin: 0 0 2rem;
}

/* BANNER */
.banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 550px;
  background-size: cover;
  background-position: center;
  padding: 0 4rem;
}

.banner-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
}

.text-content {
  width: 40%;
}

.header-text {
  font-size: 1.8rem;
  font-weight: 800;
  padding-bottom: 4rem;
}

.banner h1 {
  font-size: 2rem;
  margin: 0;
  padding-bottom: 1rem;
  font-weight: 800;
}

.separator-line {
  width: 50px;
  height: 1px;
  background-color: #ffffff;
  margin: 1rem 0 2rem 0;
}

.category-description {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 0;
  line-height: 1.5;
}

.episode-count {
  color: #666;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.video-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 550px;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: 90%; /* Ensures the modal is responsive */
  max-width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-iframe {
  width: 96%;
  height: auto;
  aspect-ratio: 16/9; 
  border: none;
}

/* .modal-content {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 1px;
  max-width: 90%;
}

.modal-iframe {
  width: 320px;
  height: 180px;
} */

/* TILES */
.video-tiles-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.video-tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 1200px;
}

.video-tile {
  position: relative;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
  text-align: left;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.video-tile:hover {
  transform: scale(1.02);
}

.video-tile img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.video-tile h3 {
  font-size: 1.1rem;
  color: #333;
  margin: 0.5rem 0;
}

.video-tile p {
  font-size: 0.9rem;
  color: #666;
  margin: 0.5rem 0;
}

.video-tile .timestamp {
  font-size: 0.8rem;
  color: #999;
  margin: 0.5rem 0;
}

.icon-play {
  width: 24px;
  height: 24px;
  position: absolute;
  color: #333;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
}

.video-tile .error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* BADGES */
.new-badge {
  position: absolute;
  background-color: #ff5252;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  top: 20px;
  left: 20px;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .banner {
    height: 500px;
    padding: 0 2rem;
  }

  .banner-content {
    max-width: 768px;
  }

  .header-text {
    font-size: 1rem;
    padding-bottom: 6rem;
  }

  .banner h1 {
    font-size: 1.5rem;
  }

  .category-description {
    font-size: .8rem;
  }

  .video-content {
    height: 500px;
  }

  .responsive-iframe {
    width: 400px;
    height: 225px;
  }

  .video-tiles-container {
    padding-top: 1.5rem;
  }

  .video-tiles {
    grid-template-columns: repeat(3, 1fr);
  }

  .video-tile {
    width: 90%;
  }

  .icon-play {
    width: 18px;
    height: 18px;
    bottom: 10px;
    right: 10px;
  }
}

@media (max-width: 430px) {
  .banner {
    height: 450px;
    padding: 0 1rem;
  }

  .banner-content {
    max-width: 600px;
  }

  .header-text {
    padding-bottom: 3rem;
  }

  .text-content {
    width:90%;
  }

  .banner h1 {
    padding-bottom: 0.5rem;
  }

  .video-content {
    display: none;
  }

  .responsive-iframe {
    width: 320px;
    height: 180px;
  }

  .video-tiles-container {
    padding-top: 1rem;
  }

  .video-tiles {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* THEMES */
:root {
  --light-text-color: #ffffff;
  --light-secondary-color: #ffcc00;
  --dark-text-color: #1e1e1e;
  --dark-secondary-color: #6a628b;
}